{% extends "base.html" %}


{% block bokeh_script %}
{% endblock %}




{% block content %}

<div class="row">
<h3>{{experiment}}: <span class='notbold'>All vials</span></h3>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
	{% for x in vial_count %}
	<a href="{% url 'home' %}{{experiment}}/{{x}}" class="btn btn-default btn">{{x}}</a>
	{% endfor %}

    <a href="{% url 'home' %}{{experiment}}/dilutions" class="btn btn-default btn">Dilutions</a>

</div>

<br>
<div>
    <table class="table">
        <caption><b>Media consumption (based on dilution)</b></caption>
        <tr>
            <td><b>Vial 0:</b> {{ diluted.0 }} L</td>
            <td><b>Vial 1:</b> {{ diluted.1 }} L</td>
            <td><b>Vial 2:</b> {{ diluted.2 }} L</td>
            <td><b>Vial 3:</b> {{ diluted.3 }} L</td>
        </tr>
            <tr>
            <td><b>Vial 4:</b> {{ diluted.4 }} L</td>
            <td><b>Vial 5:</b> {{ diluted.5 }} L</td>
            <td><b>Vial 6:</b> {{ diluted.6 }} L</td>
            <td><b>Vial 7:</b> {{ diluted.7 }} L</td>
        </tr>
            <tr>
            <td><b>Vial 8:</b> {{ diluted.8 }} L</td>
            <td><b>Vial 9:</b> {{ diluted.9 }} L</td>
            <td><b>Vial 10:</b> {{ diluted.10 }} L</td>
            <td><b>Vial 11:</b> {{ diluted.11 }} L</td>
        </tr>
            <tr>
            <td><b>Vial 12:</b> {{ diluted.12 }} L</td>
            <td><b>Vial 13:</b> {{ diluted.13 }} L</td>
            <td><b>Vial 14:</b> {{ diluted.14 }} L</td>
            <td><b>Vial 15:</b> {{ diluted.15 }} L</td>
        </tr>
    </table>
</div>

<div>
    <table class="table">
        <caption><b>Dilution efficiency (% of direct dilutions)</b></caption>
        <tr>
            <td><b>Vial 0:</b> {{ efficiency.0 }}%</td>
            <td><b>Vial 1:</b> {{ efficiency.1 }}%</td>
            <td><b>Vial 2:</b> {{ efficiency.2 }}%</td>
            <td><b>Vial 3:</b> {{ efficiency.3 }}%</td>
        </tr>
            <tr>
            <td><b>Vial 4:</b> {{ efficiency.4 }}%</td>
            <td><b>Vial 5:</b> {{ efficiency.5 }}%</td>
            <td><b>Vial 6:</b> {{ efficiency.6 }}%</td>
            <td><b>Vial 7:</b> {{ efficiency.7 }}%</td>
        </tr>
            <tr>
            <td><b>Vial 8:</b> {{ efficiency.8 }}%</td>
            <td><b>Vial 9:</b> {{ efficiency.9 }}%</td>
            <td><b>Vial 10:</b> {{ efficiency.10 }}%</td>
            <td><b>Vial 11:</b> {{ efficiency.11 }}%</td>
        </tr>
            <tr>
            <td><b>Vial 12:</b> {{ efficiency.12 }}%</td>
            <td><b>Vial 13:</b> {{ efficiency.13 }}%</td>
            <td><b>Vial 14:</b> {{ efficiency.14 }}%</td>
            <td><b>Vial 15:</b> {{ efficiency.15 }}%</td>
        </tr>
    </table>
</div>


<p> Last dilution: {{ last_dilution }} </p>

</div>


{% endblock%}