{% extends "base.html" %}


{% block bokeh_script %}
{% endblock %}




{% block content %}

<div class="row">
<h3>{{experiment}}: <span class='notbold'>All vials</span></h3>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
	{% for x in vial_count %}
	<a href="{% url 'home' %}{{experiment}}/{{x}}" class="btn btn-default btn">{{x}}</a>
	{% endfor %}

    <a href="{% url 'home' %}{{experiment}}/dilutions" class="btn btn-default btn">Dilutions</a>

</div>

<br>
<div>
    <table class="table">
        <caption><b>Media consumption (based on dilution)</b></caption>
        <tr>
            <td><b>Vial 0:</b> {{ diluted.0 }} L</td>
            <td><b>Vial 1:</b> {{ diluted.1 }} L</td>
            <td><b>Vial 2:</b> {{ diluted.2 }} L</td>
            <td><b>Vial 3:</b> {{ diluted.3 }} L</td>
        </tr>
        <tr>
            <td><b>Vial 4:</b> {{ diluted.4 }} L</td>
            <td><b>Vial 5:</b> {{ diluted.5 }} L</td>
            <td><b>Vial 6:</b> {{ diluted.6 }} L</td>
            <td><b>Vial 7:</b> {{ diluted.7 }} L</td>
        </tr>
        <tr>
            <td><b>Vial 8:</b> {{ diluted.8 }} L</td>
            <td><b>Vial 9:</b> {{ diluted.9 }} L</td>
            <td><b>Vial 10:</b> {{ diluted.10 }} L</td>
            <td><b>Vial 11:</b> {{ diluted.11 }} L</td>
        </tr>
        <tr>
            <td><b>Vial 12:</b> {{ diluted.12 }} L</td>
            <td><b>Vial 13:</b> {{ diluted.13 }} L</td>
            <td><b>Vial 14:</b> {{ diluted.14 }} L</td>
            <td><b>Vial 15:</b> {{ diluted.15 }} L</td>
        </tr>
    </table>
</div>

<p> Last dilution: {{ last_dilution }} </p>

{% if efficiency %}

    <div>
        <table class="table">
            <caption><b>Dilution efficiency (% of direct dilutions)</b></caption>
            <tr>
                <td><b>Vial 0:</b> {{ efficiency.0 }}%</td>
                <td><b>Vial 1:</b> {{ efficiency.1 }}%</td>
                <td><b>Vial 2:</b> {{ efficiency.2 }}%</td>
                <td><b>Vial 3:</b> {{ efficiency.3 }}%</td>
            </tr>
            <tr>
                <td><b>Vial 4:</b> {{ efficiency.4 }}%</td>
                <td><b>Vial 5:</b> {{ efficiency.5 }}%</td>
                <td><b>Vial 6:</b> {{ efficiency.6 }}%</td>
                <td><b>Vial 7:</b> {{ efficiency.7 }}%</td>
            </tr>
            <tr>
                <td><b>Vial 8:</b> {{ efficiency.8 }}%</td>
                <td><b>Vial 9:</b> {{ efficiency.9 }}%</td>
                <td><b>Vial 10:</b> {{ efficiency.10 }}%</td>
                <td><b>Vial 11:</b> {{ efficiency.11 }}%</td>
            </tr>
            <tr>
                <td><b>Vial 12:</b> {{ efficiency.12 }}%</td>
                <td><b>Vial 13:</b> {{ efficiency.13 }}%</td>
                <td><b>Vial 14:</b> {{ efficiency.14 }}%</td>
                <td><b>Vial 15:</b> {{ efficiency.15 }}%</td>
            </tr>
        </table>
    </div>

{% else %}

    <p>Efficiency data not available. Are you running a chemostat experiment?</p>

{% endif %}

<div>
    {% if bottle_info %}
        <table class="table" id="bottle-table">
            <caption><b>Bottle media</b></caption>
            {% for bot in bottles %}
                {% if forloop.counter0|divisibleby:"4" %}
                    </tr>
                    <tr>
                        <td><b>Bottle {{ forloop.counter0 }}:</b> {{ bot }}</td>
                {% else %}
                        <td><b>Bottle {{ forloop.counter0 }}:</b> {{ bot }}</td>
                {% endif %}
            {% endfor %}
            </tr>
            <!--<tr>
                <td><b>Bottle 4:</b> {{ bottles.4 }} L</td>
                <td><b>Bottle 5:</b> {{ bottles.5 }} L</td>
                <td><b>Bottle 6:</b> {{ bottles.6 }} L</td>
                <td><b>Bottle 7:</b> {{ bottles.7 }} L</td>
            </tr>
            <tr>
                <td><b>Bottle 8:</b> {{ bottles.8 }} L</td>
                <td><b>Bottle 9:</b> {{ bottles.9 }} L</td>
                <td><b>Bottle 10:</b> {{ bottles.10 }} L</td>
                <td><b>Bottle 11:</b> {{ bottles.11 }} L</td>
            </tr>
            <tr>
                <td><b>Bottle 12:</b> {{ bottles.12 }} L</td>
                <td><b>Bottle 13:</b> {{ bottles.13 }} L</td>
                <td><b>Bottle 14:</b> {{ bottles.14 }} L</td>
                <td><b>Bottle 15:</b> {{ bottles.15 }} L</td>
            </tr>-->
        </table>
        <button class="btn btn-info" data-toggle="modal" data-target="#seeBottles">See bottle setup</button>
        <button class="btn btn-default" data-toggle="modal" data-target="#editBottles">Edit bottle setup</button>
    {% else %}  <!--Empty bottles.txt, alert user-->
        <p>Missing bottle setup. Please, <button class="btn btn-primary" data-toggle="modal" data-target="#editBottles" data-dismiss="modal">create a new one</button></p>
    {% endif %}

    <!-- seeBottles Modal -->
    <div class="modal fade" id="seeBottles" tabindex="-1" role="dialog" aria-labelledby="seeBottlesLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="seeBottlesLabel">Current bottle setup</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <script type="text/javascript">
                function editVol(check) {
                    //check.parentElement.parentElement.input
                    var vol = check.parentElement.parentElement.querySelectorAll('input[name$="volume"]')[0];
                    console.log(vol);
                    if (check.checked == true){
                        vol.disabled = false;
                    } else {
                        vol.disabled = true;
                    };
                };
            </script>

            <form id="changeBottle" action="#" method="post">{% csrf_token %}
                <table id="bottle-list-see" class="table">
                    <tr>
                        <th>Bottle #</th>
                        <th>Vials</th>
                        <th>Volume</th>
                        <th>Last plugged</th>
                        <th>To change</th>
                    </tr>

                    <!--Read and show bottles information-->
                    {% for bot in bottle_info %}
                        <tr>
                            <td>{{ bot.0 }}</td>
                            <td>{{ bot.1 }}</td>
                            <td><input name="volume" type="text" size="3" maxlength="2" value="{{ bot.2 }}" disabled> L</td>
                            <td>{{ bot.3 }}</td>
                            <td><input name="change" type="checkbox" value="{{ forloop.counter0 }}" onclick="editVol(this)"></td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editBottles" data-dismiss="modal">Edit bottle setup</button>
            <input type="submit" class="btn btn-info" name="change-bottle" form="changeBottle" value="Change bottles">
          </div>
        </div>
      </div>
    </div>

    <!-- editBottles Modal -->
    <div class="modal fade" id="editBottles" tabindex="-1" role="dialog" aria-labelledby="editBottlesLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editBottlesLabel">Edit bottle setup</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">x</span>
            </button>
          </div>
          <div class="modal-body">
              <script  type="text/javascript">
                function addBottle() {
                    var table = document.getElementById("bottle-list");
                    var row = table.insertRow(-1);
                    var nrow = table.rows.length-2;
                    //row.innerHTML = "<td>Bottle " + nrow +"</td><td><input  name='bottle[" + nrow + "][volume]' type='text'></input></td><td><input name='bottle[" + nrow + "][vials]' type='text'></input></td>";
                    row.innerHTML = "<td>Bottle " + nrow +"</td><td><input  name='vials' type='text'></input></td><td><input name='volume' type='text'></input></td>";
                }
              </script>

            <form id="saveBottleSetup" action="#" method="post">{% csrf_token %}
                <table id="bottle-list" class="table">
                    <tr>
                        <th>Bottle #</th>
                        <th>Vials</th>
                        <th>Volume</th>
                    </tr>
                    <tr>
                        <td>Bottle 0</td>
                        <td><input name="vials" type='text'/></td>
                        <td><input name="volume" type='text'/></td>
                    </tr>
                </table>

                <button type="button" name="add-bottle" onclick="addBottle()">+</button>
                <!--<input type="submit" name="save-bottle" onclick=""></input>-->
            </form>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" name="save-bottle" form="saveBottleSetup" value="Save changes"/>
          </div>
        </div>
      </div>
    </div>

</div>

</div>

{% endblock%}